__pycache__
logs/*
paper
outputs
vinai
hater
pan22-author-profiling-training-2022-03-29
hate
irony
saveProfilesReduced r2d2-stsb-bertweet-base-v0.tsv
pan22-author-profiling-test-2022-04-22-without_truth*